<div class="box">
    @if (!isEditMode) {
        <h2><strong>Workout:</strong> {{ workout().name }}</h2>
        <div><strong>Notes:</strong> {{ workout().notes }}</div>
        <div><strong>Date created:</strong> {{ workout().addedDate | date:"MMM dd, yyyy" }}</div>
        <div><em>Last completed:</em> {{ workout().lastCompletedDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</div>
        @if (workoutDetail) {
            <ul>
            @for (exercise of workout().exercises | orderBy:'addedDate':'asc'; track exercise.id) {
                <li>
                    <app-exercise [exercise]="exercise" [workoutId]="workout().id" (onExerciseChanged)="reloadWorkout()" /> 
                </li>
            }
            </ul>
            @if (isAddMode) {
                <app-add-exercise (onClose)="closeAddExercise()" [workoutId]="workout().id" />
            } @else {
                <div>
                    <button matFab (click)="toggleWorkoutDetail()" alt="hide exercise detail">
                        <mat-icon>expand_less</mat-icon>
                    </button>
                    <button matFab extended (click)="openAddExercise()" alt="add exercise">
                        <mat-icon>add</mat-icon>
                        Add exercise
                    </button>
                </div>
            }
        } @else {
            <div><strong>Number of exercises:</strong> {{ workout().exercises.length }}</div>
            <button matFab (click)="toggleWorkoutDetail()" alt="show exercise detail">
                <mat-icon>expand_more</mat-icon>
            </button>
        }
        <button matFab extended (click)="startWorkout()" alt="start workout">
            <mat-icon>fitness_center</mat-icon>
            Start workout
        </button>
        <button matFab extended (click)="edit()" alt="edit workout">
            <mat-icon>edit</mat-icon>
            Edit Workout
        </button>
        <button matFab extended (click)="delete()" alt="delete workout">
            <mat-icon>delete</mat-icon>
            Delete workout
        </button>
    } @else {
        <h2>Edit Workout:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <label>Name</label>
            <input placeholder="Name" formControlName="name" />
            <label>Notes</label>
            <input placeholder="Notes" formControlName="notes" />
            <button matFab extended type="submit" alt="save changes to workout">
                <mat-icon>save</mat-icon>
                Save changes
            </button>
        </form>
        <button matButton="elevated" (click)="cancelEdit()" alt="cancel">Cancel</button>
    }
</div>