<div class="box">
    @if (!isEditMode) {
        <h2><strong>Workout:</strong> {{ workout().name }}</h2>
        <div><strong>Notes:</strong> {{ workout().notes }}</div>
        <div><strong>Date created:</strong> {{ workout().addedDate | date:"MMM dd, yyyy" }}</div>
        <div><em>Last completed:</em> {{ workout().lastCompletedDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</div>
        @if (workoutDetail) {
            <ul>
            @for (exercise of workout().exercises | orderBy:'addedDate':'asc'; track exercise.id) {
                <li>
                    <app-exercise [exercise]="exercise" [workoutId]="workout().id" (onExerciseChanged)="reloadWorkout()" /> 
                </li>
            }
            </ul>
            @if (isAddMode) {
                <app-add-exercise (onClose)="closeAddExercise()" [workoutId]="workout().id" />
            } @else {
                <div>
                    <button (click)="openAddExercise()">Add exercise</button>
                </div>
            }
        } @else {
            <div><strong>Number of exercises:</strong> {{ workout().exercises.length }}</div>
        }
        <div>
            @if (!workoutDetail) {
                <button (click)="toggleWorkoutDetail()">Show exercise detail</button>
            } @else {
                <button (click)="toggleWorkoutDetail()">Hide exercise detail</button>
            }
        </div>
        <button (click)="startWorkout()">Start workout!</button>
        <button (click)="edit()">Edit workout</button>
        <button (click)="delete()">Delete workout</button>
    } @else {
        <h2>Edit Workout:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <label>Name</label>
            <input placeholder="Name" formControlName="name" />
            <label>Notes</label>
            <input placeholder="Notes" formControlName="notes" />
            <button type="submit">Save</button>
        </form>
        <button (click)="cancelEdit()">Cancel</button>
    }
</div>