<h2>Change password:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label labelfor="currentPassword">Email</label>
        <input placeholder="Current password" type="password" formControlName="currentPassword" />
    </div>
    <div>
        <label labelfor="newPassword">Email</label>
        <input placeholder="New password" type="password" formControlName="newPassword" />
    </div>
    <div>
        <label labelfor="confirmNewPassword">Email</label>
        <input placeholder="Confirm new password" type="password" formControlName="confirmNewPassword" />
    </div>
    <button matFab extended type="submit" alt="save changes">
        <mat-icon>save</mat-icon>
        Save changes
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="cancel()" alt="cancel">Cancel</button>