<h2>Change password:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label labelfor="currentPassword">Current password</mat-label>
        <input matInput placeholder="Current password" type="password" formControlName="currentPassword" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label labelfor="newPassword">New password</mat-label>
        <input matInput placeholder="New password" type="password" formControlName="newPassword" />
    </mat-form-field>
    <mat-form-field>
        <mat-label labelfor="confirmNewPassword">Confirm new password</mat-label>
        <input matInput placeholder="Confirm new password" type="password" formControlName="confirmNewPassword" />
    </mat-form-field>
    <br />
    <button matFab extended type="submit">
        <mat-icon>save</mat-icon>
        Save changes
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="cancel()">Cancel</button>
