<div>
    <h2>My Workouts</h2>
    @if (isLoaded()) {
        @for (workout of workouts(); track $index) {
            <div class="top-level-container">
                <app-workout [workout]="workout" (onWorkoutChanged)="reload()" />
            </div>
        }
    } @else {
        <mat-spinner></mat-spinner>
    }
    @if (isCreateVisible) {
        <app-create-workout (onReturn)="handleCancelCreate()" />
    } @else {
        <button matButton="elevated" (click)="showAddWorkout()">
            Create new workout
        </button>
    }
</div>
