<div>
    <h2>My Workouts</h2>
    <ul>
        @if (isLoaded()) {
            @for (workout of workouts(); track $index) {
                <li>
                    <app-workout [workout]="workout" (onWorkoutChanged)="reload()" />
                </li>
            }
        } @else {
            <mat-spinner></mat-spinner>
        }
    </ul>
    @if (isCreateVisible) {
        <app-create-workout (onReturn)="handleCancelCreate()" />
    } @else {
        <button matButton="elevated" (click)="showAddWorkout()" alt="add workout">
            Create new workout
        </button>
    }
</div>