<div class="box">
    <h3>{{ completedWorkout().originalName }}</h3>
    <div>Workout completed on {{ completedWorkout().completedDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</div>
    @if (completedWorkout().completedNotes) { 
        <div><em>Notes: </em> {{ completedWorkout().completedNotes }}</div>
    }
    @if (completedWorkout().originalNotes) { 
        <div><em>Original Notes: </em> {{ completedWorkout().originalNotes }}</div>
    }
    @for (set of completedWorkout().completedExerciseSets | orderBy:'setNumber':'asc' | orderBy:'exerciseName':'asc'; track set.id) {
        <h4>{{ set.exerciseName }} - Set #{{ set.setNumber }}</h4>
        @if (set.goalReps) {
            <div>{{ set.reps }} / {{ set.goalReps }} reps</div>
        }
        @if (set.goalWeight) {
            <div>{{ set.weight }} / {{ set.goalWeight }} {{ set.weightUnit }}</div>
        }
        @if (set.goalDuration) {
            <div>{{ set.duration }} / {{ set.goalDuration }} {{ set.durationUnit }}</div>
        }
    }
    <button (click)="edit()">Edit completed workout</button>
    <button (click)="delete()">Delete workout</button>
    @if (isEditMode) {
        <h2>Edit Workout:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <label>Notes</label>
            <input placeholder="Notes" formControlName="completedNotes" />
            <button type="submit">Save</button>
        </form>
        <button (click)="cancelEdit()">Cancel</button>
    }
</div>