<div class="box">
    <h3>Workout: {{ completedWorkout().originalName }}</h3>
    <div>Workout completed on {{ completedWorkout().completedDate | date:"MMM dd, yyyy 'at' hh:mm a" }}</div>
    @if (completedWorkout().completedNotes) { 
        <div><em>Notes: </em> {{ completedWorkout().completedNotes }}</div>
    }
    @if (completedWorkout().originalNotes) { 
        <div><em>Original Notes: </em> {{ completedWorkout().originalNotes }}</div>
    }
    @for (exercise of completedWorkout().completedExercises; track exercise.id) {
        <div class="box">
        <h4>Exercise: {{ exercise.name }}</h4>

        @for (set of exercise.completedExerciseSets | orderBy:'setNumber':'asc'; track set.id) {
            <div class="borderless-box">
                <h5>Set #{{ set.setNumber + 1 }}</h5>

                @if (set.reps || set.goalReps) {
                    <div>{{ set.reps }} / {{ set.goalReps }} reps</div>
                }

                @if (set.goalWeight || set.goalWeight) {
                    <div>{{ set.weight }} / {{ set.goalWeight }} {{ set.weightUnit }}</div>
                }

                @if (set.duration || set.goalDuration) {
                    <div>{{ set.duration }} / {{ set.goalDuration }} {{ set.durationUnit }}</div>
                }
            </div>
        }
        </div>
    }
    <button matIconButton (click)="edit()" alt="edit completed workout">
        <mat-icon>edit</mat-icon>
    </button>
    <button matIconButton (click)="delete()" alt="delete completed workout">
        <mat-icon>delete</mat-icon>
    </button>
    @if (isEditMode) {
        <h2>Edit Workout:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea matInput class="text-area" placeholder="Notes" formControlName="completedNotes"></textarea>
            </mat-form-field>
            <br />
            <button matFab extended type="submit" alt="save changes to completed workout">
                <mat-icon>save</mat-icon>
                Save changes
            </button>
            <div>
                @for (error of validationErrors(); track $index) {
                    <div class="error">{{ error }}</div>
                }
            </div>
        </form>
        <button matButton="elevated" (click)="cancelEdit()" alt="cancel">Cancel</button>
    }
</div>