<div>
    <h2>Create an Exercise:</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <input matInput placeholder="Notes" formControlName="notes" />
        </mat-form-field>
        <button matFab extended type="submit" alt="save new exercise">
            <mat-icon>save</mat-icon>
            Save exercise
        </button>
    </form>
    <button matButton="elevated" (click)="return()" alt="cancel create exercise">Cancel</button>
</div>