<div class="box">
    <span><strong>Set #:</strong> {{ set().setNumber + 1 }}</span>
    @if (set().reps) {
        - <span><strong>Reps:</strong> {{ set().reps }}</span>
    }
    @if (set().weight) {
        - <span><strong>Weight</strong> ({{ set().weightUnit }}): {{ set().weight }}</span>
    }
    @if (set().duration) {
        - <span><strong>Duration</strong> ({{ set().durationUnit }}) {{ set().duration }}</span>
    }
    @if (set().distance) {
        - <span><strong>Distance</strong> ({{ set().distanceUnit }}) {{ set().distance }}</span>
    }
    
    <button matIconButton extended (click)="delete(set().id)" alt="delete set">
        <mat-icon>delete</mat-icon>
    </button>
</div>