<h2>Change email address:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label labelfor="email">Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <br />
    <button matFab extended type="submit">
        <mat-icon>save</mat-icon>
        Save changes
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="cancel()">Cancel</button>
