<h2>Change email address:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label labelfor="email">Email</label>
        <input placeholder="Email" formControlName="email" />
    </div>
    <button matFab extended type="submit" alt="save changes">
        <mat-icon>save</mat-icon>
        Save changes
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="cancel()" alt="cancel">Cancel</button>