<h2>Completed Workouts</h2>
@if (isLoaded()) {
    @for (completedWorkout of completedWorkouts() | orderBy:'completedDate':'desc'; track completedWorkout.id) {
        <app-completed-workout [completedWorkout]="completedWorkout" (onCompletedWorkoutChanged)="reload()"/>
    }
    @if (completedWorkouts().length == 0) {
        <div>Looks like you haven't tried any of your workouts yet.  <a matButton="text" href="workouts" aria-label="workouts">Pick one to try?</a></div>
    }
} @else {
    <mat-spinner></mat-spinner>
}
