@if (!isEdit()) {
    <h2>Account information</h2>
    <button matButton="tonal" (click)="toggleIsEdit()" alt="edit account info">
        Edit account info
    </button>
    <div><strong>First name:</strong> {{ user()?.firstName }}</div>
    <div><strong>Last name:</strong> {{ user()?.lastName }}</div>
    @if (user()?.email) {
        <div><strong>Email address:</strong> {{ user()?.email }}</div>
    }
    @if (user()?.userName) {
        <div><strong>Username:</strong> {{ user()?.userName }}</div>
    }
    <div><strong>Member since:</strong> {{ user()?.joinedDate }}</div>
} @else {
    <h2>Edit account information:</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label labelfor="firstName">First name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label labelfor="lastName">Last name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" />
        </mat-form-field>
        <div>
        <button matFab extended type="submit" alt="save changes to account">
            <mat-icon>save</mat-icon>
            Save changes
        </button>
        </div>
        <div>
            @for (error of validationErrors(); track $index) {
                <div class="error">{{ error }}</div>
            }
        </div>
    </form>
    <button matButton="elevated" (click)="toggleIsEdit()" alt="cancel">Cancel</button>
}
<div>
    @if (changeEmail()) {
        <app-change-email (onCancel)="toggleChangeEmail()" />
    } @else {
        <button matButton="tonal" (click)="toggleChangeEmail()" alt="change email">Change email</button>
    }
</div>
<div>
    @if (changePassword()) {
        <app-change-password (onCancel)="toggleChangePassword()" />
    } @else {
        <button matButton="tonal" (click)="toggleChangePassword()" alt="change password">Change password</button>
    }
</div>