#root {
    max-width: 1920px;
}

.logo-anchor {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.logo {
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8em;
}

@media (prefers-color-scheme: light) {
    .main-logo {
        top: 0px;
        left: 5px;
        z-index: 1;
        color: rgb(0, 92, 187);
    }
    .offset-logo {        
        top: 2px;
        left: 7px;
        color: #bbb;
    }
}

@media (prefers-color-scheme: dark) {
    .main-logo {
        top: 0px;
        left: 5px;
        z-index: 1;
        color: rgb(178, 214, 250);
        /* color: rgb(132, 162, 192); */
    }
    .offset-logo {
        top: 2px;
        left: 7px;
        color: #888;
    }
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .horizontal-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .desktop {
        display:none;
    }
}

@media screen and (min-width: 861px) {
    .mobile {
        display:none;
    }
}