#root {
    max-width: 1920px;
}

.logo {
    text-decoration: none;
    color: inherit;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .desktop {
        display:none;
    }
}

@media screen and (min-width: 861px) {
    .mobile {
        display:none;
    }
}