#root {
    max-width: 1920px;
}

.logo {
    text-decoration: none;
    color: inherit;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 800px) {
.horizontal-flex {
    flex-wrap: wrap;
}
}