html, body, app-root {
  height: 100vh;
  margin: 0;
}

app-root {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

main {
    padding: 0 30px 0 30px;
}

footer {
    margin: 0 auto;
    width: 80%;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}

.error {
    color: red;
    font-weight: bold;
}

.box {
    border: 1px solid #333;
    margin: 5px;
    padding: 5px;
}

.borderless-box {
    margin: 5px;
    padding: 5px;
}

.two-column-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.text-area {
    min-width: 500px;
    min-height: 200px;
}

button {
    margin: 5px;
}

button > * {
    font-size: 14px;
}

label {
    padding: 5px;
}

mat-form-field {
    margin-left: 8px;
    width:80%; 
    max-width: 500px;
}

.small-form-field {
    max-width: 120px;
}

.medium-form-field {
    max-width: 240px;
}