#content {
    padding: 0 30px 0 30px;
}

ul {
    list-style-type: none;
}

.error {
    color: red;
    font-weight: bold;
}

.box {
    border: 1px solid #333;
    margin: 5px;
    padding: 5px;
}

.borderless-box {
    margin: 5px;
    padding: 5px;
}

.two-column-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

button {
    margin: 5px;
}

button > * {
    font-size: 14px;
}

label {
    padding: 5px;
}

mat-form-field + mat-form-field {
  margin-left: 8px;
}