<h2>Add a set:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <mat-form-field>
            <mat-label>Reps</mat-label>
            <input matInput placeholder="Reps" formControlName="reps" type="number" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Weight</mat-label>
            <input matInput placeholder="Weight" formControlName="weight" type="number" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Weight units:</mat-label>
            <mat-select matInput title="Weight Units" placeholder="Weight Units" formControlName="weightUnit">
                <mat-option value="">--Please choose an option--</mat-option>
                @for (weightUnit of weightUnitOptions; track $index) {
                    <mat-option [value]="weightUnit">{{weightUnit}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Duration</mat-label>
            <input matInput placeholder="Duration" formControlName="duration" type="number" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Duration units:</mat-label>
            <mat-select title="Duration Units" placeholder="Duration Units" formControlName="durationUnit">
                <mat-option value="">--Please choose an option--</mat-option>
                @for (durationUnit of durationUnitOptions; track $index) {
                    <mat-option [value]="durationUnit">{{durationUnit}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <button matFab extended type="submit" alt="save new set">
        <mat-icon>save</mat-icon>
        Save set
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="return()">Cancel</button>