<div class="box exercise">
    @if (!isEditMode) {
        <h3><strong>Exercise:</strong> {{ exercise().name }}</h3>
        <div><strong>Notes:</strong> {{ exercise().notes }}</div>
        <div><strong>Date created:</strong> {{ exercise().addedDate }}</div>
        
        @if (exerciseDetail) {
            <div>
                <ul>
                @for (set of exercise().exerciseSets | orderBy:'setNumber':'asc'; track set.id) {
                    <li>
                        <app-set [set]="set" [exerciseId]="exercise().id" (onSetChanged)="reload()" />
                    </li>
                }
                </ul>
                <button matIconButton (click)="toggleExerciseDetail()" alt="hide set detail">
                    <mat-icon>expand_less</mat-icon>
                </button>
                @if (isCreateSetVisible) {
                    <app-create-set [exerciseId]="exercise().id" (onCreate)="reload()" (onReturn)="returnCreateSet()" />
                } @else {
                    <button matButton="elevated" extended (click)="clickCreateSet()" alt="create set">
                        Add set
                    </button>
                }
            </div>
        } @else {
            <div><strong>Number of sets:</strong> {{ exercise().exerciseSets.length }}</div>
            <button matIconButton (click)="toggleExerciseDetail()" alt="show set detail">
                <mat-icon>expand_more</mat-icon>
            </button>
        }
        <button matIconButton [matMenuTriggerFor]="menu" aria-label="menu for exercise-related buttons">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit()" alt="edit exercise">
                <mat-icon>edit</mat-icon>
                <span>Edit exercise</span>
            </button>
            @if (workoutId()) {
                <button mat-menu-item (click)="remove(exercise().id)" alt="remove exercise from workout">
                    <mat-icon>remove</mat-icon>
                    <span>Remove exercise</span>
                </button>
            }
            <button mat-menu-item (click)="delete(exercise().id)" alt="delete exercise">
                <mat-icon>delete</mat-icon>
                <span>Delete exercise</span>
            </button>
        </mat-menu>
    } @else {
        <h2>Edit Exercise:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <input matInput placeholder="Notes" formControlName="notes" />
            </mat-form-field>
            <button matFab extended type="submit" alt="save exercise changes">
                <mat-icon>save</mat-icon>
                Save changes
            </button>
        </form>
        <button matButton="elevated" (click)="cancelEdit()" alt="cancel edit exercise">Cancel</button>
    }
</div>