<div class="box">
    @if (!isEditMode) {
        <h3><strong>Exercise:</strong> {{ exercise().name }}</h3>
        <div><strong>Notes:</strong> {{ exercise().notes }}</div>
        <div><strong>Date created:</strong> {{ exercise().addedDate }}</div>
        
        @if (exerciseDetail) {
            <ul>
            @for (set of exercise().exerciseSets | orderBy:'setNumber':'asc'; track set.id) {
                <li>
                    <app-set [set]="set" [exerciseId]="exercise().id" (onSetChanged)="reload()" />
                </li>
            }
            </ul>
            @if (isCreateSetVisible) {
                <app-create-set [exerciseId]="exercise().id" (onCreate)="reload()" (onReturn)="returnCreateSet()" />
            } @else {
                <button (click)="clickCreateSet()">Create set</button>
            }
        } @else {
            <div><strong>Number of sets:</strong> {{ exercise().exerciseSets.length }}</div>
        }
        @if (!exerciseDetail) {
            <button (click)="toggleExerciseDetail()">Show set detail</button>
        } @else {
            <button (click)="toggleExerciseDetail()">Hide set detail</button>
        }
        <button (click)="edit()">Edit exercise</button>
        @if (workoutId()) {
            <button (click)="remove(exercise().id)">Remove exercise</button>
        }
        <button (click)="delete(exercise().id)">Delete exercise</button>
    } @else {
        <h2>Edit Exercise:</h2>
        <form [formGroup]="form" (ngSubmit)="update()">
            <label>Name</label>
            <input placeholder="Name" formControlName="name" />
            <label>Notes</label>
            <input placeholder="Notes" formControlName="notes" />
            <button type="submit">Save</button>
        </form>
        <button (click)="cancelEdit()">Cancel</button>
    }
</div>