name: Deploy static content to Pages

on:
  push:
    branches: ["main"]
    paths:
      - 'easyworkout.client/**'

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: easyworkout.client/package-lock.json

      - name: Install dependencies
        working-directory: easyworkout.client
        run: npm ci

      - name: Build
        working-directory: easyworkout.client
        run: npm run build
        
      - name: Debug files
        working-directory: easyworkout.client
        run: ls -l docs/browser
        
      - name: Copy index.html to 404.html (Fix for Angular routing)
        working-directory: easyworkout.client
        run: cp docs/browser/index.html docs/browser/404.html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: easyworkout.client/docs/browser

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
