<h2>Create a Workout:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Notes</mat-label>
        <textarea matInput class="text-area" placeholder="Notes" formControlName="notes"></textarea>
    </mat-form-field>
    <br />
    <button matFab extended type="submit" alt="save new workout">
        <mat-icon>save</mat-icon>
        Save workout
    </button>
    <div>
        @for (error of validationErrors(); track $index) {
            <div class="error">{{ error }}</div>
        }
    </div>
</form>
<button matButton="elevated" (click)="return()" alt="cancel">Cancel</button>