<h2>Create a Workout:</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput placeholder="Notes" formControlName="notes" />
    </mat-form-field>
    <button matFab extended type="submit" alt="save new workout">
        <mat-icon>save</mat-icon>
        Save workout
    </button>
</form>
<button matButton="elevated" (click)="return()" alt="cancel">Cancel</button>